In [ ]:
'''
goal:
ask user for how many dataframes they want to compare to D1, the name of the tools, and the location of dataframe]
make variable for len(dataframe/file)
add that variable with dataframe len to the number inputed but first check if any of the tool names are different from what is 
save that in a dataframe
should look like:
2 #number of tools
optitype, '/content/gdrive/MyDrive/test/OPTITYPE'
HLAForest, '/content/gdrive/MyDrive/test/OPTITYPE'
save that to a csv in google drive


make a for loop for number at top of csv
variable name pd.read the dataframes
add the variables to a list of dictionaries where the key is the tool name from the file and the value is the dataframe and add gold standard dataset to this list of dictioaries with dataframes

make function that compares accession numbers of two tools
use for loop to call that function #number of tools +1(b/c gold standard dataset)* same thing or squared or something like that someone figure it out where if we had two tools it would be called:
once to compare optitype and gs and remove any rows in optitype with accesssion numbers not in gs        another to compare optitype and hla forest and remove any rows in optitype with accession numbers not in hlagforest
once to compare hlaforest to gs and remove any rows in hlaforest with accession numbers not in gs        another to compare halforest to optitype and remove any rows in halforest that are not in optitype
once to compare gs to optitype and remove any rows in gs with accession numbers not in optitype          another to compare gs to hlaforest and remove any rows in gs that are not in hlaforest
for the last one we should save the accession numbers into a list or something and transfer it into a file to keep track of what was deleted from gs
if any of these seem redundant  lke maybe the last one, we can skip it becaue by the time we get to gs and hlaforest hlaforest should look just like optitype so maybe don't have to do that one

for loop to copare strings from [:5] two digit resolution and make new dataframe with 1's for same as gs and 0 for not same as gs and do this with[:7] for 4 digit reolution and make seperate dataframe for that and could have a counter to count whenever they are ewual 
one counter for 2 dgit and one for three
save the dataframe to googel drive
divide the counters by len(dataframe)*width of dataframe
save accuracy value to original file so first file would be modified to soeting like
2 #number of tools
optitype, '/content/gdrive/MyDrive/test/OPTITYPE', .92
HLAForest, '/content/gdrive/MyDrive/test/OPTITYPE', .97

done.

matrix of booleans
so make a dictionary of accession numbers in gold standard dataset and set all values to true
iterate through all files and if the accession number is not in that list  set value to false

{ERR*, {file#(1-len(listoffiles)):[row]}}
for key value == err and file#(1-len(listoffiles)):[row]
  for key value == file#  and [row]
    for ro in row ERR009096	A*03:01	A*01:01	B*08:01	B*07:02	C*07:01	C*07:17
    how to acccess gs dataset in same position should just change the file number

'''

In [ ]:
def exists(content, what_dataset):
  tool_names = list()
  tool_locations = list()
  name_and_dataframe_dict = dict()
  accession, a, a1, b, b1, c, c1, full, dataset_number = list(), list(), list(), list(), list(), list(), list(), list(), list()
  number_of_tests = int(input(f"How many tools would you like to check the accuracy of in regard to dataset{what_dataset}? "))
  for i in range(number_of_tests):
    tool_name = input(f"What is the name of tool #{i+1} that you would like to check? ").lower()
    tool_names.append(tool_name)
    tool_location = input(f"What is the location of the tool {tool_name} in goodle drive something like /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv  ")
    make_sure = input(f"are you sure that {tool_location} is the location of {tool_name} on your google drive? yes or no ").lower()
    tool_locations.append(tool_location)
  for key, values in content.items():
    for name in tool_names:
      if key == name and content[key][-1] == what_dataset:
        del content[key]
  number_of_tests = len(tool_names) + len(content)
  for h in range(len(tool_names)):
    df = pd.read_csv(tool_locations[h])
    df_len = len(df)
    df_column_names = df.columns
    for l in range(df_len):
      accession.append(df[df_column_names[0]][l])
      a.append(df[df_column_names[1]][l])
      a1.append(df[df_column_names[2]][l])
      b.append(df[df_column_names[3]][l])
      b1.append(df[df_column_names[4]][l])
      c.append(df[df_column_names[5]][l])
      c1.append(df[df_column_names[6]][l])
    full.append(accession)
    full.append(a)
    full.append(a1)
    full.append(b)
    full.append(b1)
    full.append(c)
    full.append(c1)
    full.append(list(what_dataset))
    name_and_dataframe_dict[tool_names[h]] = full
  name_and_dataframe_dict.update(content)
  return name_and_dataframe_dict

In [ ]:
def exists(content, what_dataset):
  #delete conclusion
  #run does_not_exist

SyntaxError: ignored

In [ ]:
def does_not_exist(What_dataset):
  tool_names = list()
  tool_locations = list()
  name_and_dataframe_dict = dict()
  accession, a, a1, b, b1, c, c1, full, dataset_number = list(), list(), list(), list(), list(), list(), list(), list(), list()
  number_of_tests = int(input("How many tools would you like to check the accuracy of in regard to dataset1? "))
  for i in range(number_of_tests):
    tool_name = input(f"What is the name of tool #{i+1} that you would like to check? ").lower()
    tool_names.append(tool_name)
    tool_location = input(f"What is the location of the tool {tool_name} in goodle drive something like /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv  ")
    make_sure = input(f"are you sure that {tool_location} is the location of {tool_name} on your google drive? yes or no ").lower()
    tool_locations.append(tool_location)
  for h in range(len(tool_names)):
    df = pd.read_csv(tool_locations[h])
    df_len = len(df)
    df_column_names = df.columns
    for l in range(df_len):
      accession.append(df[df_column_names[0]][l])
      a.append(df[df_column_names[1]][l])
      a1.append(df[df_column_names[2]][l])
      b.append(df[df_column_names[3]][l])
      b1.append(df[df_column_names[4]][l])
      c.append(df[df_column_names[5]][l])
      c1.append(df[df_column_names[6]][l])
    full.append(accession)
    full.append(a)
    full.append(a1)
    full.append(b)
    full.append(b1)
    full.append(c)
    full.append(c1)
    full.append(list(what_dataset))
    name_and_dataframe_dict[tool_names[h]] = full
  return name_and_dataframe_dict

In [ ]:
import pandas as pd
import csv
import os
import json

from google.colab import drive

drive.mount('/content/gdrive')

#number_of_files=input("How many files are you planning on inputing")
#locations = list()


#basefile = open('base_file.txt', "a")
'''
#for files in number_of_files:
loc ='/content/gdrive/MyDrive/test/OPTITYPE'
loc_gs = '/content/gdrive/MyDrive/test/datasets'
dataset1 = pd.read_csv(loc+'/optitype_d1.csv')
gold_standard_dataset1 = pd.read_csv(loc_gs+'/1_gs.csv')
dataset1_column_names = dataset1.columns
gold_standard_dataset1_column_names = gold_standard_dataset1.columns
'''
loc_gs = '/content/gdrive/MyDrive/test/datasets'
gold_standard_dataset1 = pd.read_csv(loc_gs+'/1_gs.csv')
gold_standard_dataset1_column_names = gold_standard_dataset1.columns
what_dataset = input('What dataset would you like to check the accuracy for? 1, 2, 3, 4, 5, or 6 (pleaase oly imput the integer)')

filename = '/content/gdrive/MyDrive/test/OPTITYPE/conclusion.json'
try:
    with open(filename) as f:
        content = json.load(f)
        name_and_dataframe_dict = exists(content, what_dataset)
    os.remove(filename)
    with open(filename,'a+') as file:
      json.dump(name_and_dataframe_dict, file)

except FileNotFoundError:
    with open(filename,'a+') as file:
      name_and_dataframe_dict = does_not_exist(what_dataset)
      json.dump(name_and_dataframe_dict, file)
    
    #content.replace(content, favorite_num)

  

'''
base_file = '/content/gdrive/MyDrive/test/basefile.csv'
#https://linuxize.com/post/python-check-if-file-exists/
#https://www.pythontutorial.net/python-basics/python-write-csv-file/
try:
    f = pd.read_csv(base_file)
except FileNotFoundError:
  #https://www.w3schools.com/python/python_file_write.asp
  file = open(base_file, "a+", newline='')
  file.close()
  f = pd.read_csv(base_file)

filename_and_directory  = list()
number_of_files=input("How many files are you planning on inputing")
for i in range(number_of_files):
  filename = input(f"what is the name of the {i} tool you want to input")
  filename = lower(filename)
  directory = input(f"what is the direcory for {filename}")
  filename_and_directory.append(filename)
  filename_and_directory.append(directory)
  if filename in f:
    number_of_files = number_of_files - 1
    #get index of where the tool name is
    #remove that row
    #replace ir with the new row by appending the list filename_and_directory
    #replace first row with new number
  else:
    #add list to bottom of dataframe
  #clear list

#save dataframe
#for loop read from file tool name and get dataframe using pd.csv_read(location in file column next to tool name)
  #make dictionary with tool name as key and value as dataframe

make true false list into function and call it for every tool in the list
make accuracy into function and useit for every tool in list
done
  
  number_of_files=input("How many files are you planning on inputing")
  #read in first row
  #int first row and add to number of files
  #
  writer = csv.writer(f)
  writer.writerow(number_of_files)

  print(base_file)

locations = list()
#https://www.w3schools.com/python/python_file_write.asp
#https://cmdlinetips.com/2016/01/opening-a-file-in-python-using-with-statement/
#https://www.geeksforgeeks.org/reading-writing-text-files-python/

'''

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
What dataset would you like to check the accuracy for? 1, 2, 3, 4, 5, or 6 (pleaase oly imput the integer)1
How many tools would you like to check the accuracy of in regard to dataset1? 2
What is the name of tool #1 that you would like to check? optitype
What is the location of the tool optitype in goodle drive something like /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv  /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv
are you sure that /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv is the location of optitype on your google drive? yes or no yes
What is the name of tool #2 that you would like to check? rna2hla
What is the location of the tool rna2hla in goodle drive something like /content/gdrive/MyDrive/test/OPTITYPE/optitype_d1.csv  /content/gdrive/MyDrive/test/rna2hlaD1_FINAL.csv
are you sure that /content/gdrive/MyDrive/test/rna2hlaD1_FINAL.csv is the location of rna2hla on your google drive? yes or no yes

'\nbase_file = \'/content/gdrive/MyDrive/test/basefile.csv\'\n#https://linuxize.com/post/python-check-if-file-exists/\n#https://www.pythontutorial.net/python-basics/python-write-csv-file/\ntry:\n    f = pd.read_csv(base_file)\nexcept FileNotFoundError:\n  #https://www.w3schools.com/python/python_file_write.asp\n  file = open(base_file, "a+", newline=\'\')\n  file.close()\n  f = pd.read_csv(base_file)\n\nfilename_and_directory  = list()\nnumber_of_files=input("How many files are you planning on inputing")\nfor i in range(number_of_files):\n  filename = input(f"what is the name of the {i} tool you want to input")\n  filename = lower(filename)\n  directory = input(f"what is the direcory for {filename}")\n  filename_and_directory.append(filename)\n  filename_and_directory.append(directory)\n  if filename in f:\n    number_of_files = number_of_files - 1\n    #get index of where the tool name is\n    #remove that row\n    #replace ir with the new row by appending the list filename_and_directory\n    #replace first row with new number\n  else:\n    #add list to bottom of dataframe\n  #clear list\n\n#save dataframe\n#for loop read from file tool name and get dataframe using pd.csv_read(location in file column next to tool name)\n  #make dictionary with tool name as key and value as dataframe\n\nmake true false list into function and call it for every tool in the list\nmake accuracy into function and useit for every tool in list\ndone\n  \n  number_of_files=input("How many files are you planning on inputing")\n  #read in first row\n  #int first row and add to number of files\n  #\n  writer = csv.writer(f)\n  writer.writerow(number_of_files)\n\n  print(base_file)\n\nlocations = list()\n#https://www.w3schools.com/python/python_file_write.asp\n#https://cmdlinetips.com/2016/01/opening-a-file-in-python-using-with-statement/\n#https://www.geeksforgeeks.org/reading-writing-text-files-python/\n\n'

In [ ]:
with open(filename) as f:
  content = json.load(f)
number_of_tools = len(content)
print(number_of_tools)

1

In [ ]:
final_df, final_dict = list(), dict()
for key, value in content.items():
  dfERR = pd.DataFrame(content[key][0])
  dfA1 = pd.DataFrame(content[key][1])
  dfA2 = pd.DataFrame(content[key][2])
  dfB1 = pd.DataFrame(content[key][3])
  dfB2 = pd.DataFrame(content[key][4])
  dfC1 = pd.DataFrame(content[key][5])
  dfC2 = pd.DataFrame(content[key][6])
  first_csv = pd.concat([dfERR,dfA1,dfA2,dfB1,dfB2,dfC1,dfC2], axis=1, join='inner')
  first_csv.columns =['err', 'a', 'a1', 'b','b1','c','c1']
  final_dict[key]=first_csv
first_csv_names = first_csv.columns
print(first_csv[first_csv_names[0]][1])
  #df = json_normalize(content[value])

ERR009097

In [ ]:
#create a dictionary for gold standard dataset accession numbers 
gold_standard_accessions = dict()
len1 = len(gold_standard_dataset1)
for i in range(len1):
  gold_standard_accessions[gold_standard_dataset1["Run"][i]]=False
print(gold_standard_accessions)

{'ERR009159': False, 'ERR009168': False, 'ERR009154': False, 'ERR009147': False, 'ERR009133': False, 'ERR009146': False, 'ERR009167': False, 'ERR009097': False, 'ERR009124': False, 'ERR009122': False, 'ERR009140': False, 'ERR009096': False, 'ERR009109': False, 'ERR009142': False, 'ERR009135': False, 'ERR009166': False, 'ERR009149': False, 'ERR009119': False, 'ERR009103': False, 'ERR009141': False, 'ERR009108': False, 'ERR009121': False, 'ERR009139': False, 'ERR009155': False, 'ERR009123': False, 'ERR009163': False, 'ERR009157': False, 'ERR009113': False, 'ERR009117': False, 'ERR009129': False, 'ERR009115': False, 'ERR009136': False, 'ERR009144': False, 'ERR009107': False, 'ERR009118': False, 'ERR009164': False, 'ERR009137': False, 'ERR009132': False, 'ERR009130': False, 'ERR009106': False, 'ERR009156': False, 'ERR009152': False, 'ERR009104': False, 'ERR009114': False, 'ERR009134': False, 'ERR009151': False, 'ERR009099': False, 'ERR009111': False, 'ERR009145': False, 'ERR009105': False}

In [ ]:
def weeding_list_of_accessions(dataset1):
  len2 = dataset1.shape
  dataset1_column_names = dataset1.columns
  print(len2)
  #print(dataset1[dataset1_column_names[0]])
  for key, value in gold_standard_accessions.items():
    for i in range(len2[0]):
      if key in dataset1[dataset1_column_names[0]][i]:
        gold_standard_accessions[key] = True
  #print(gold_standard_accessions)
  return gold_standard_accessions

In [ ]:
for key, value in final_dict.items():
  dataset1 = final_dict[key]
  gold_standard_accessions = weeding_list_of_accessions(dataset1)
  print(gold_standard_accessions)

(71, 7)
{'ERR009159': True, 'ERR009168': True, 'ERR009154': True, 'ERR009147': True, 'ERR009133': True, 'ERR009146': True, 'ERR009167': True, 'ERR009097': True, 'ERR009124': True, 'ERR009122': True, 'ERR009140': True, 'ERR009096': True, 'ERR009109': True, 'ERR009142': True, 'ERR009135': True, 'ERR009166': True, 'ERR009149': True, 'ERR009119': True, 'ERR009103': True, 'ERR009141': True, 'ERR009108': False, 'ERR009121': True, 'ERR009139': True, 'ERR009155': True, 'ERR009123': True, 'ERR009163': True, 'ERR009157': True, 'ERR009113': True, 'ERR009117': True, 'ERR009129': True, 'ERR009115': True, 'ERR009136': True, 'ERR009144': True, 'ERR009107': True, 'ERR009118': True, 'ERR009164': True, 'ERR009137': True, 'ERR009132': True, 'ERR009130': True, 'ERR009106': True, 'ERR009156': True, 'ERR009152': True, 'ERR009104': True, 'ERR009114': True, 'ERR009134': True, 'ERR009151': True, 'ERR009099': True, 'ERR009111': True, 'ERR009145': True, 'ERR009105': True}

In [ ]:
dataset1.head()

         err        a       a1        b       b1        c       c1
0  ERR009096  A*01:01  A*03:01  B*08:01  B*07:02  C*07:01  C*07:01
1  ERR009097  A*25:01  A*03:01  B*08:01  B*18:01  C*07:01  C*12:03
2  ERR009098  A*68:02  A*02:01  B*78:02  B*35:01  C*04:01  C*04:01
3  ERR009099  A*01:01  A*03:01  B*14:02  B*08:01  C*08:02  C*07:01
4  ERR009100  A*68:02  A*02:01  B*51:01  B*35:01  C*04:01  C*04:01

In [ ]:
gold_standard_dataset1

          Run        A      A.1        B      B.1        C      C.1
0   ERR009159  A*03:01  A*02:01  B*07:02  B*57:01  C*07:02  C*06:02
1   ERR009168  A*02:01  A*32:01  B*40:02  B*08:01  C*02:02  C*07:01
2   ERR009154  A*02:01  A*68:01  B*44:02  B*40:01  C*03:04  C*07:04
3   ERR009147  A*68:xx  A*02:01  B*07:02  B*15:01  C*07:02  C*03:03
4   ERR009133  A*03:01  A*03:01  B*35:03  B*35:01  C*04:01  C*04:01
5   ERR009146  A*26:01  A*30:02  B*44:02  B*18:01  C*05:01  C*05:01
6   ERR009167  A*24:02  A*01:01  B*39:06  B*08:01  C*07:02  C*07:01
7   ERR009097  A*25:01  A*03:01  B*08:01  B*18:01  C*07:01  C*12:03
8   ERR009124  A*24:02  A*01:01  B*40:01  B*08:01  C*03:04  C*07:01
9   ERR009122  A*02:01  A*02:01  B*44:02  B*15:01  C*05:01  C*03:04
10  ERR009140  A*02:01  A*02:01  B*14:02  B*14:01  C*08:02  C*08:02
11  ERR009096  A*01:01  A*03:01  B*08:01  B*07:02  C*07:01  C*07:02
12  ERR009109  A*32:01  A*02:01  B*40:02  B*27:05  C*02:02  C*07:04
13  ERR009142  A*02:01  A*02:01  B*27:05  B*57:01  C*02:02  C*06:02
14  ERR009135  A*26:01  A*03:01  B*07:02  B*07:02  C*07:02  C*07:02
15  ERR009166  A*02:01  A*01:01  B*07:02  B*44:02  C*07:01  C*05:01
16  ERR009149  A*02:01  A*02:01  B*44:02  B*55:xx  C*03:05  C*05:01
17  ERR009119  A*02:01  A*01:01  B*35:01  B*08:01  C*04:01  C*07:01
18  ERR009103  A*29:02  A*26:01  B*44:03  B*44:02  C*05:01  C*16:01
19  ERR009141  A*01:01  A*11:01  B*51:01  B*07:02  C*15:02  C*07:02
20  ERR009108  A*01:01  A*01:01  B*57:01  B*08:01  C*06:02  C*07:01
21  ERR009121  A*02:01  A*02:01  B*08:01  B*13:02  C*07:01  C*06:02
22  ERR009139  A*24:02  A*02:01  B*07:02  B*07:02  C*07:02  C*07:02
23  ERR009155  A*29:02  A*02:01  B*07:02  B*27:05  C*07:02  C*01:02
24  ERR009123  A*25:01  A*11:01  B*18:01  B*15:01  C*12:03  C*03:03
25  ERR009163  A*02:06  A*26:01  B*35:01  B*38:01  C*04:01  C*12:03
26  ERR009157  A*02:01  A*01:01  B*07:02  B*07:02  C*07:02  C*07:02
27  ERR009113  A*02:01  A*11:01  B*44:02  B*35:01  C*05:01  C*04:01
28  ERR009117  A*03:01  A*02:01  B*35:01  B*44:02  C*04:01  C*07:04
29  ERR009129  A*01:01  A*31:01  B*08:01  B*40:01  C*07:01  C*03:04
30  ERR009115  A*01:01  A*02:01  B*08:01  B*44:02  C*07:01  C*05:01
31  ERR009136  A*01:01  A*11:01  B*51:01  B*50:01  C*15:02  C*06:06
32  ERR009144  A*32:01  A*11:01  B*40:02  B*44:03  C*15:02  C*16:01
33  ERR009107  A*25:01  A*02:01  B*44:02  B*40:01  C*03:04  C*05:01
34  ERR009118  A*02:01  A*02:01  B*49:01  B*44:02  C*05:01  C*07:01
35  ERR009164  A*01:01  A*02:01  B*08:01  B*07:02  C*07:01  C*07:02
36  ERR009137  A*31:01  A*02:01  B*15:01  B*07:02  C*03:03  C*07:02
37  ERR009132  A*01:01  A*02:01  B*08:01  B*07:02  C*07:01  C*07:02
38  ERR009130  A*23:01  A*24:02  B*44:03  B*51:01  C*14:02  C*04:01
39  ERR009106  A*24:02  A*01:01  B*07:02  B*08:01  C*07:01  C*07:02
40  ERR009156  A*02:01  A*02:01  B*51:01  B*44:02  C*14:02  C*05:01
41  ERR009152  A*01:01  A*03:01  B*08:01  B*07:02  C*07:01  C*07:02
42  ERR009104  A*02:01  A*02:01  B*44:02  B*44:02  C*05:01  C*05:01
43  ERR009114  A*29:02  A*24:02  B*44:03  B*57:01  C*16:01  C*06:02
44  ERR009134  A*03:01  A*02:01  B*07:02  B*07:02  C*07:02  C*07:02
45  ERR009151  A*01:01  A*24:02  B*08:01  B*55:01  C*07:01  C*07:02
46  ERR009099  A*01:01  A*03:01  B*08:01  B*14:02  C*07:01  C*08:02
47  ERR009111  A*24:02  A*03:01  B*39:06  B*07:02  C*07:02  C*07:02
48  ERR009145  A*02:01  A*24:02  B*35:01  B*51:01  C*04:01  C*14:02
49  ERR009105  A*01:01  A*24:02  B*08:01  B*07:02  C*07:01  C*07:02

In [ ]:
'''
loc ='/content/gdrive/MyDrive/test/OPTITYPE'
dataset2 = pd.read_csv(loc+'/optitype_d2.csv')
#print(dataset2['0'])
print(weeding_list_of_accessions(dataset2))
'''

"\nloc ='/content/gdrive/MyDrive/test/OPTITYPE'\ndataset2 = pd.read_csv(loc+'/optitype_d2.csv')\n#print(dataset2['0'])\nprint(weeding_list_of_accessions(dataset2))\n"

In [ ]:
'''
#it works DO NOT TOUCH!!!!
len2 = dataset1.shape
print(len2)
for key, value in gold_standard_accessions.items():
  for i in range(len2[0]):
    if key in dataset1[dataset1_column_names[0]][i]:
      gold_standard_accessions[key] = True
print(gold_standard_accessions)
'''

'\n#it works DO NOT TOUCH!!!!\nlen2 = dataset1.shape\nprint(len2)\nfor key, value in gold_standard_accessions.items():\n  for i in range(len2[0]):\n    if key in dataset1[dataset1_column_names[0]][i]:\n      gold_standard_accessions[key] = True\nprint(gold_standard_accessions)\n'

In [ ]:
def finding_accuracy(dataset1):
  two_digit_res = 0
  four_digit_res = 0
  total_count = 0
  gold_standard_dataset1_column_remove_access = gold_standard_dataset1_column_names[1:]
  dataset1_column_names = dataset1.columns
  dataset1_column_remove_access = dataset1_column_names[1:]
  import numpy as np

  for key, value in gold_standard_accessions.items():
    if value == True:
      for i in range((len(gold_standard_dataset1_column_names))-1):
        total_count = total_count + 1
        #https://stackoverflow.com/questions/53255796/how-to-get-a-single-value-as-a-string-from-pandas-data-frame
        dataset1_string =  dataset1.loc[dataset1[dataset1_column_names[0]] == key, [dataset1_column_names[i+1]]].values[0]
        gold_standard_dataset1_string =  gold_standard_dataset1.loc[gold_standard_dataset1[gold_standard_dataset1_column_names[0]] == key, [gold_standard_dataset1_column_names[i+1]]].values[0]
        dataset1_string = str(dataset1_string)
        #print(dataset1_string)
        gold_standard_dataset1_string = str(gold_standard_dataset1_string)
        #print(gold_standard_dataset1_string)
        # 2 to 3 is the letter 4 to 6 are the first two digits and 7 to 9 are the last two digits so while have othave symbol between A and whatever and the collen, it does not have to be an astixor colon
        if dataset1_string[2:3] == gold_standard_dataset1_string[2:3] and dataset1_string[4:6] == gold_standard_dataset1_string[4:6]:
          two_digit_res = two_digit_res + 1
        if dataset1_string[2:3] == gold_standard_dataset1_string[2:3] and dataset1_string[4:6] == gold_standard_dataset1_string[4:6] and dataset1_string[7:9] == gold_standard_dataset1_string[7:9]:
          four_digit_res = four_digit_res + 1
  final_two_digit_res_accuracy = two_digit_res/total_count
  final_four_digit_res_accuracy = four_digit_res/total_count
  print(two_digit_res, four_digit_res, total_count, final_two_digit_res_accuracy, final_four_digit_res_accuracy)
  return final_two_digit_res_accuracy, final_four_digit_res_accuracy
'''
#THE SUPERIOR CODE BY DOTTIE, please make mine more efficient if possible 
count = 0
totalcount=0
import numpy as np
numpyarr = []

for key, value in gold_standard_accessions.items():
  if value == True:
    try:
      sample = dataset1.loc[dataset1['Run'] == key]
      gs = gold_standard_dataset1.loc[gold_standard_dataset1['Run'] == key]

      sample = sample.reset_index(drop=True)
      gs = gs.reset_index(drop=True)

      a=(sample[0:]== gs[0:])
      numpyarr.append(a.values)
    except:
      pass


print(numpyarr)
for i in numpyarr:
  for j in i:
    count = count-1
    totalcount = totalcount-1  #subtract to get rid of the first element, which is always true (accession numbers are equal)
    for k in j:
      totalcount = totalcount+1
      if k.all() == True:
        count = count+1


print(count)
print(totalcount)
'''

"\n#THE SUPERIOR CODE BY DOTTIE, please make mine more efficient if possible \ncount = 0\ntotalcount=0\nimport numpy as np\nnumpyarr = []\n\nfor key, value in gold_standard_accessions.items():\n  if value == True:\n    try:\n      sample = dataset1.loc[dataset1['Run'] == key]\n      gs = gold_standard_dataset1.loc[gold_standard_dataset1['Run'] == key]\n\n      sample = sample.reset_index(drop=True)\n      gs = gs.reset_index(drop=True)\n\n      a=(sample[0:]== gs[0:])\n      numpyarr.append(a.values)\n    except:\n      pass\n\n\nprint(numpyarr)\nfor i in numpyarr:\n  for j in i:\n    count = count-1\n    totalcount = totalcount-1  #subtract to get rid of the first element, which is always true (accession numbers are equal)\n    for k in j:\n      totalcount = totalcount+1\n      if k.all() == True:\n        count = count+1\n\n\nprint(count)\nprint(totalcount)\n"

In [ ]:
from csv import writer
filename = '/content/gdrive/MyDrive/test/OPTITYPE/final1.csv'
removes = list()
boolean = False
df = pd.DataFrame()
df.to_csv(filename)
countj = 0

#for key, value in final_dict.items():

for key, value in final_dict.items():
  final_list_to_make_graph = list()
  df = pd.DataFrame(columns = ['tool', 'two_digit_res', 'four_digit_res'])
  dataset1 = final_dict[key]
  #print(key)
  resolutions = finding_accuracy(dataset1)
  final_list_to_make_graph.append(key)
  final_list_to_make_graph.append(resolutions[0])
  final_list_to_make_graph.append(resolutions[1])
  if df.empty:
    df_column_names = df.columns
    df = df.append({'tool': final_list_to_make_graph[0], 'two_digit_res': final_list_to_make_graph[1], 'four_digit_res': final_list_to_make_graph[2]}, ignore_index=True)
    print(final_list_to_make_graph)
    
  else:
    with open(filename) as f:
      df1 = pd.read_csv(filename)
      df1_column_names = df1.columns
      for i in range(len(df1)):
        print(df1[df1_column_names[0]][i] + "HI")
        if key == df1[df1_column_names[0]][i]:
          df1 = df1.drop([i])
          df1 = df1.reset_index(drop=True, inplace=True)
        else:
          countj = countj + 1
          df = df.append(df1.iloc[countj])
        df = df.append({'tool': final_list_to_make_graph[0], 'two_digit_res': final_list_to_make_graph[1], 'four_digit_res': final_list_to_make_graph[2]}, ignore_index=True)
        print(final_list_to_make_graph[0], ' *********')


    
  os.remove(filename)
  df.to_csv(filename)

        

print(df)

186 169 294 0.6326530612244898 0.5748299319727891
['rna2hla', 0.6326530612244898, 0.5748299319727891]
      tool  two_digit_res  four_digit_res
0  rna2hla       0.632653         0.57483

In [ ]:
#accuracy = count / totalcount;
#print(accuracy)
print(final_two_digit_res_accuracy, final_four_digit_res_accuracy)

NameError: ignored

In [ ]:
''''
len2 = len(dataset2)
for key, value in gold_standard_accessions.items():
  for i in range(len2):
    if key in dataset2["0"][i]:
      gold_standard_accessions[key] = True
print(gold_standard_accessions)
'''

{'ERR009159': False, 'ERR009168': False, 'ERR009154': False, 'ERR009147': False, 'ERR009133': False, 'ERR009146': False, 'ERR009167': False, 'ERR009097': False, 'ERR009124': False, 'ERR009122': False, 'ERR009140': False, 'ERR009096': False, 'ERR009109': False, 'ERR009142': False, 'ERR009135': False, 'ERR009166': False, 'ERR009149': False, 'ERR009119': False, 'ERR009103': False, 'ERR009141': False, 'ERR009108': False, 'ERR009121': False, 'ERR009139': False, 'ERR009155': False, 'ERR009123': False, 'ERR009163': False, 'ERR009157': False, 'ERR009113': False, 'ERR009117': False, 'ERR009129': False, 'ERR009115': False, 'ERR009136': False, 'ERR009144': False, 'ERR009107': False, 'ERR009118': False, 'ERR009164': False, 'ERR009137': False, 'ERR009132': False, 'ERR009130': False, 'ERR009106': False, 'ERR009156': False, 'ERR009152': False, 'ERR009104': False, 'ERR009114': False, 'ERR009134': False, 'ERR009151': False, 'ERR009099': False, 'ERR009111': False, 'ERR009145': False, 'ERR009105': False}

In [ ]:
'''len1 = len(dataset1)
len2 = len(gold_standard_dataset1)
print(type(dataset1["Run"][0]))

#check for which accession numbers are in dataset1 but not gold standard and remove if not in dataset1
for i in range(len2):
  check_if_accession_number_found = False
  for j in range(len1):
    if gold_standard_dataset1['Run'][i] in dataset1['Run'][j]:
      check_if_accession_number_found = True
      #print(i,gold_standard_dataset1["Run"][i])
  if check_if_accession_number_found == False:
    gold_standard_dataset1.drop(i, axis=0, inplace=True)
    '''
'''
for i in range(len1):
  check_if_accession_number_found = False
  for j in range(len2):
    if dataset1['Run'][i] in gold_standard_dataset1['Run'][j]:
      check_if_accession_number_found = True
      #print(i,dataset1["Run"][i])
  if check_if_accession_number_found == False:
    dataset1.drop(i, inplace=True)
    #have to include inplace which just means you are able to replace original value in order to actually delete the row or could have dataset1 = dataset1.drop(i) to add new column of only droped values and delete the whole original column
    #print(i, dataset1["Run"][i])
'''
#for i in range(len1):
  #if dataset1['Run'][i] not in gold_standard_dataset1['Run']:
    #dataset1.drop(i, axis=0)
    #print(gold_standard_dataset1['Run'][i])
#gold_standard_dataset1
#gold_standard_dataset1['Run']
#dataset1['Run']

<class 'str'>

          Run        A      A.1        B      B.1        C      C.1
0   ERR009159  A*03:01  A*02:01  B*07:02  B*57:01  C*07:02  C*06:02
1   ERR009168  A*02:01  A*32:01  B*40:02  B*08:01  C*02:02  C*07:01
2   ERR009154  A*02:01  A*68:01  B*44:02  B*40:01  C*03:04  C*07:04
3   ERR009147  A*68:xx  A*02:01  B*07:02  B*15:01  C*07:02  C*03:03
4   ERR009133  A*03:01  A*03:01  B*35:03  B*35:01  C*04:01  C*04:01
5   ERR009146  A*26:01  A*30:02  B*44:02  B*18:01  C*05:01  C*05:01
6   ERR009167  A*24:02  A*01:01  B*39:06  B*08:01  C*07:02  C*07:01
7   ERR009097  A*25:01  A*03:01  B*08:01  B*18:01  C*07:01  C*12:03
8   ERR009124  A*24:02  A*01:01  B*40:01  B*08:01  C*03:04  C*07:01
9   ERR009122  A*02:01  A*02:01  B*44:02  B*15:01  C*05:01  C*03:04
10  ERR009140  A*02:01  A*02:01  B*14:02  B*14:01  C*08:02  C*08:02
11  ERR009096  A*01:01  A*03:01  B*08:01  B*07:02  C*07:01  C*07:02
12  ERR009109  A*32:01  A*02:01  B*40:02  B*27:05  C*02:02  C*07:04
13  ERR009142  A*02:01  A*02:01  B*27:05  B*57:01  C*02:02  C*06:02
14  ERR009135  A*26:01  A*03:01  B*07:02  B*07:02  C*07:02  C*07:02
15  ERR009166  A*02:01  A*01:01  B*07:02  B*44:02  C*07:01  C*05:01
16  ERR009149  A*02:01  A*02:01  B*44:02  B*55:xx  C*03:05  C*05:01
17  ERR009119  A*02:01  A*01:01  B*35:01  B*08:01  C*04:01  C*07:01
18  ERR009103  A*29:02  A*26:01  B*44:03  B*44:02  C*05:01  C*16:01
19  ERR009141  A*01:01  A*11:01  B*51:01  B*07:02  C*15:02  C*07:02
21  ERR009121  A*02:01  A*02:01  B*08:01  B*13:02  C*07:01  C*06:02
22  ERR009139  A*24:02  A*02:01  B*07:02  B*07:02  C*07:02  C*07:02
23  ERR009155  A*29:02  A*02:01  B*07:02  B*27:05  C*07:02  C*01:02
24  ERR009123  A*25:01  A*11:01  B*18:01  B*15:01  C*12:03  C*03:03
25  ERR009163  A*02:06  A*26:01  B*35:01  B*38:01  C*04:01  C*12:03
26  ERR009157  A*02:01  A*01:01  B*07:02  B*07:02  C*07:02  C*07:02
27  ERR009113  A*02:01  A*11:01  B*44:02  B*35:01  C*05:01  C*04:01
28  ERR009117  A*03:01  A*02:01  B*35:01  B*44:02  C*04:01  C*07:04
29  ERR009129  A*01:01  A*31:01  B*08:01  B*40:01  C*07:01  C*03:04
30  ERR009115  A*01:01  A*02:01  B*08:01  B*44:02  C*07:01  C*05:01
31  ERR009136  A*01:01  A*11:01  B*51:01  B*50:01  C*15:02  C*06:06
32  ERR009144  A*32:01  A*11:01  B*40:02  B*44:03  C*15:02  C*16:01
33  ERR009107  A*25:01  A*02:01  B*44:02  B*40:01  C*03:04  C*05:01
34  ERR009118  A*02:01  A*02:01  B*49:01  B*44:02  C*05:01  C*07:01
35  ERR009164  A*01:01  A*02:01  B*08:01  B*07:02  C*07:01  C*07:02
36  ERR009137  A*31:01  A*02:01  B*15:01  B*07:02  C*03:03  C*07:02
37  ERR009132  A*01:01  A*02:01  B*08:01  B*07:02  C*07:01  C*07:02
38  ERR009130  A*23:01  A*24:02  B*44:03  B*51:01  C*14:02  C*04:01
39  ERR009106  A*24:02  A*01:01  B*07:02  B*08:01  C*07:01  C*07:02
40  ERR009156  A*02:01  A*02:01  B*51:01  B*44:02  C*14:02  C*05:01
41  ERR009152  A*01:01  A*03:01  B*08:01  B*07:02  C*07:01  C*07:02
42  ERR009104  A*02:01  A*02:01  B*44:02  B*44:02  C*05:01  C*05:01
43  ERR009114  A*29:02  A*24:02  B*44:03  B*57:01  C*16:01  C*06:02
44  ERR009134  A*03:01  A*02:01  B*07:02  B*07:02  C*07:02  C*07:02
45  ERR009151  A*01:01  A*24:02  B*08:01  B*55:01  C*07:01  C*07:02
46  ERR009099  A*01:01  A*03:01  B*08:01  B*14:02  C*07:01  C*08:02
47  ERR009111  A*24:02  A*03:01  B*39:06  B*07:02  C*07:02  C*07:02
48  ERR009145  A*02:01  A*24:02  B*35:01  B*51:01  C*04:01  C*14:02
49  ERR009105  A*01:01  A*24:02  B*08:01  B*07:02  C*07:01  C*07:02

In [ ]:
len1 = len(dataset1)
len2 = len(gold_standard_dataset1)
print(type(dataset1["Run"][0]))

#check for which accession numbers are in dataset1 but not gold standard and remove if not in dataset1
for i in range(len1):
  print(dataset1['Run'][i])
  check_if_accession_number_found = False
  for j in range(len2):
    if dataset1['Run'][i] in gold_standard_dataset1['Run'][j]:
      check_if_accession_number_found = True
      #print(i,gold_standard_dataset1["Run"][i])
  if check_if_accession_number_found == False:
    dataset1.drop(i, axis=0, inplace=True)

<class 'str'>
ERR009096
ERR009097
ERR009098
ERR009099
ERR009100
ERR009101
ERR009102
ERR009103
ERR009104
ERR009105
ERR009106
ERR009107
ERR009109
ERR009110
ERR009111
ERR009112
ERR009113
ERR009114
ERR009115
ERR009116
ERR009117
ERR009118
ERR009119
ERR009120
ERR009121
ERR009122
ERR009123
ERR009124
ERR009125
ERR009126
ERR009127
ERR009128
ERR009129
ERR009130
ERR009131
ERR009132
ERR009133
ERR009134
ERR009135
ERR009136
ERR009137
ERR009138
ERR009139
ERR009140
ERR009141
ERR009142
ERR009143
ERR009144
ERR009145
ERR009146
ERR009147
ERR009148
ERR009149
ERR009150
ERR009151
ERR009152
ERR009153
ERR009154
ERR009155
ERR009156
ERR009157
ERR009159
ERR009160
ERR009161
ERR009162
ERR009163
ERR009164
ERR009165
ERR009166
ERR009167
ERR009168